body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #000428, #004e92);
  color: white;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00d9ff;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-family: "Lexend";
}
nav ul li a:hover {
  color: #00d9ff;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: url(../images/tron.png) no-repeat center center/cover;
  color: white;
}
.hero h1 {
  font-size: 4rem;
  text-shadow: 0px 0px 13px rgba(71, 227, 255, 1);
  margin: 0;
  margin-top: 20px;
  transition: text-shadow 0.2s;
}
.hero h1:hover {
  text-shadow: 0px 0px 13px rgba(71, 227, 255, 1),
    0px 0px 7px rgba(86, 252, 255, 1);
  cursor: default;
}
.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 13px;
  font-family: "Raleway";
}
.hero button {
  padding: 10px 20px;
  background-color: #6099cb;
  border: none;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  color: #000428;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Lexend";
  transition: background 0.3s;
  font-weight: bold;
}
.hero button:hover {
  background-color: white;
  color: #000428;
  box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.3) inset;
}
.sections {
  padding: 200px 20px;
  display: flex;
  flex-direction: column;
}
.sections.soundtrack {
  margin-bottom: 100px;
}

.sections h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00d9ff;
}
.sections p {
  max-width: 800px;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.6;
  font-family: "Raleway";
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Lexend";
}
.btn-characters {
  background-color: #6099cb;
  color: #000428;
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
  font-family: "Lexend";
  font-size: 14px;
}
.btn-characters:hover {
  background-color: white;
  color: #000428;
  cursor: pointer;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.29);
}
